@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
:root {
  --hover: rgb(161, 159, 159);
  --color: #3c3a3a;
  --light-gray: rgb(240, 240, 240);
  --dark-gray: #2e2d2d;
  --bg: #f1f1f1;
  --box-shadow: 0px 4px 11px -3px rgba(60, 58, 58, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--color);
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.btn {
  background-color: transparent;
  border: none;
}

.home {
  height: 100vh;
  width: 100%;
}
.home img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-nav .header-nav__link {
  font-family: "Italiana", serif;
  color: var(--color);
  text-decoration: none;
  font-size: 40px;
  padding-left: 10px;
  font-weight: bolder;
  letter-spacing: 5px;
}
header .header-nav .header-nav__button {
  z-index: 1000;
}
header .header-nav .header-nav__button .fa-xmark {
  display: none;
  color: var(--color);
}
header .header-nav .header-nav__button i {
  font-size: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
header .header-nav .header-nav__button i:hover {
  color: var(--hover);
}
header .header-nav .page-menu {
  display: none;
}
header .header-nav .page-menu .page-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-nav .page-menu .page-menu__list > li,
header .header-nav .page-menu .page-menu__list .dropdown #portfolio-page-btn,
header .header-nav .page-menu .page-menu__list .dropdown .dropdown-menu li a {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color);
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-nav .page-menu .page-menu__list > li:hover,
header .header-nav .page-menu .page-menu__list .dropdown #portfolio-page-btn:hover,
header .header-nav .page-menu .page-menu__list .dropdown .dropdown-menu li a:hover {
  color: var(--hover);
}
header .header-nav .page-menu .page-menu__list .dropdown-menu {
  background-color: transparent;
  border: none;
}
header .header-nav .page-menu .page-menu__list .dropdown-menu > li a {
  background-color: transparent;
}
header .header-nav .page-menu .page-menu__list .fa-lock {
  opacity: 0.9;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  padding: 10px;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}
.mobile-menu.toggled-menulist {
  right: 0px;
}
.mobile-menu .mobile-menu__list {
  padding: 50px 20px;
}
.mobile-menu .mobile-menu__list > li,
.mobile-menu .mobile-menu__list .collapse-list #portfolio-mobile-btn,
.mobile-menu .mobile-menu__list .collapse-list #flush-collapse a,
.mobile-menu .mobile-menu__list .collapse-list #flush-collapse a li {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mobile-menu .mobile-menu__list > li:hover,
.mobile-menu .mobile-menu__list .collapse-list #portfolio-mobile-btn:hover,
.mobile-menu .mobile-menu__list .collapse-list #flush-collapse a:hover,
.mobile-menu .mobile-menu__list .collapse-list #flush-collapse a li:hover {
  color: var(--hover);
}
.mobile-menu .mobile-menu__list .collapse-list #flush-collapse a {
  margin-left: 15px;
}

.post {
  width: 90%;
  margin: 30px auto;
}
.post > p {
  margin-bottom: 8px;
}
.post p:nth-child(1),
.post p:nth-child(2) {
  text-indent: 1.5em;
}
.post #post-author {
  margin-top: 20px;
  text-align: right;
  font-family: "WindSong", cursive;
}

main .block-container .block-container__img-box {
  overflow: hidden;
}
main .block-container .block-container__img-box .block-container__img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
main .block-container .block-container__img-box .block-container__img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
main .block-container .block-container__info {
  width: 90%;
  margin: 30px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .block-container .block-container__info .info__title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.2px;
  text-align: center;
}
main .block-container .block-container__info .info__txt {
  text-indent: 1.5rem;
}
main .block-container .block-container__info .view-more {
  width: 90%;
  margin: 10px 0 30px;
  text-align: right;
}
main .block-container .block-container__info .view-more a i {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .block-container .block-container__info .view-more a i:hover {
  color: var(--hover);
}

.page-block {
  background-color: var(--light-gray);
}
.page-block .page-block__content-img {
  overflow: hidden;
}
.page-block .page-block__content-img .content-img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
.page-block .page-block__content-img .content-img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
.page-block .page-block__content-info .content-box {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-block .page-block__content-info .content-box .content-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Marcellus", serif;
  margin-bottom: 15px;
  font-size: 25px;
}
.page-block .page-block__content-info .content-box .content-button {
  border: none;
  font-size: 12px;
  padding: 8px 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color);
  text-transform: uppercase;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.page-block .page-block__content-info .content-box .content-button::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: var(--color);
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  -webkit-transition: 800ms width;
  transition: 800ms width;
}
.page-block .page-block__content-info .content-box .content-button:hover::before {
  width: 100%;
}

.instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}
.instagram-container .instagram-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.instagram-container .instagram-container__content .instagram-container__icon {
  font-size: 20px;
}
.instagram-container .instagram-container__content .instagram-container__txt {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.instagram-container .instagram-container__content .instagram-container__link {
  color: var(--hover);
  font-size: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.instagram-container .instagram-container__button {
  margin-left: 10px;
}

footer {
  background-color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 20px 0;
}
footer .footer-container .footer-container__link {
  font-family: "Italiana", serif;
  color: var(--color);
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 30px;
  -webkit-box-shadow: 0 2px 2px -2px var(--color);
          box-shadow: 0 2px 2px -2px var(--color);
  margin-bottom: 15px;
}
footer .footer-container .footer-container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}
footer .footer-container .footer-container__menu > li {
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer-container .footer-container__menu > li:hover {
  color: var(--hover);
}
footer .footer-container .footer-container__menu li:not(:last-of-type):after {
  content: "|";
  margin: 0 7px;
}
footer .footer-container .footer-container__social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 2px 1px black;
          box-shadow: 0px 0px 2px 1px black;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.9;
}
footer .footer-container .footer-container__social-links a:hover {
  opacity: 0.6;
}
footer .footer-container .footer-container__social-links a i {
  color: var(--color);
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color);
  border-radius: 3px;
  opacity: 0.4;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  visibility: hidden;
}
.back-to-top.show-back-to-top {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.back-to-top:hover {
  opacity: 0.8;
}
.back-to-top .fa-angle-up {
  color: var(--bg);
}

@media (min-width: 576px) {
  .app .instagram-container .instagram-container__content .instagram-container__icon {
    font-size: 30px;
  }
  .app .instagram-container .instagram-container__content .instagram-container__txt {
    font-size: 25px;
  }
  .app .instagram-container .instagram-container__content .instagram-container__link {
    font-size: 12px;
  }
  .app .instagram-container .instagram-container__button {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .app header .header-nav .header-nav__button {
    display: none;
  }
  .app header .header-nav .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app .post {
    width: 70%;
  }
  .app .post > p {
    font-size: 20px;
  }
  .app .page-block .page-block__content-info {
    padding: 35px 0;
  }
  .app .page-block .page-block__content-info .content-title {
    font-size: 30px;
  }
  .app .page-block .page-block__content-info .content-button {
    font-size: 15px;
  }
  .app .instagram-container {
    padding: 40px;
  }
  .app footer .footer-container {
    width: 70%;
    padding: 30px;
  }
  .app footer .footer-container .footer-container__link {
    font-size: 40px;
  }
  .app footer .footer-container .footer-container__menu > li {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .app header .header-nav .header-nav__link {
    font-size: 50px;
    padding-left: 20px;
  }
  .app header .header-nav .page-menu .page-menu__list > li,
.app header .header-nav .page-menu .page-menu__list .dropdown #portfolio-page-btn,
.app header .header-nav .page-menu .page-menu__list .dropdown .dropdown-menu li a {
    font-size: 17px;
  }
  .app .post {
    width: 60%;
  }
  .app main .block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    background-color: var(--bg);
  }
  .app main .block-container .block-container__img-box {
    width: 90%;
  }
  .app main .block-container .block-container__info {
    width: 60%;
    padding: 18px 30px;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app main .block-container .block-container__info .view-more {
    margin: 10px 0 0px;
  }
  .app main .b-c-001 .block-container__img-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .app main .b-c-003 .block-container__img-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .app .page-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
  }
  .app .page-block .page-block__content-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
  }
  .app .page-block .page-block__content-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .app .page-block .page-block__content-info .content-box {
    background-color: white;
    width: 80%;
    height: 100%;
    padding: 0 20px;
    margin-right: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .page-block .page-block__content-info .content-box .content-button {
    background-color: var(--bg);
  }
  .app footer .footer-container .footer-container__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app footer .footer-container .footer-container__menu > li {
    margin-bottom: 5px;
  }
  .app footer .footer-container .footer-container__menu li:not(:last-of-type):after {
    content: "";
  }
}
@media (min-width: 1100px) {
  .app main .block-container .block-container__info .info__title {
    font-size: 40px;
  }
  .app main .block-container .block-container__info .info__txt {
    font-size: 18px;
  }
  .app main .block-container .block-container__info .view-more a i {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .app header .header-nav .page-menu .page-menu__list {
    margin-right: 20px;
  }
  .app header .header-nav .page-menu .page-menu__list > li,
.app header .header-nav .page-menu .page-menu__list .dropdown #portfolio-page-btn,
.app header .header-nav .page-menu .page-menu__list .dropdown .dropdown-menu li a {
    font-size: 20px;
  }
  .app header .header-nav .page-menu .page-menu__list .li,
.app header .header-nav .page-menu .page-menu__list .dropdown #portfolio-page-btn {
    margin: 0 25px;
  }
  .app .post {
    width: 50%;
    margin: 50px auto;
  }
  .app .post > p {
    font-size: 25px;
  }
  .app main .block-container .block-container__img-box {
    width: 90%;
  }
  .app main .block-container .block-container__info {
    height: 80%;
    margin: auto 0;
  }
  .app main .block-container .block-container__info .info__txt {
    font-size: 24px;
  }
  .app .page-block .page-block__content-info .content-box .content-title {
    font-size: 40px;
  }
  .app .page-block .page-block__content-info .content-box .content-button {
    font-size: 20px;
  }
  .app .instagram-container .instagram-container__content .instagram-container__link {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */