footer {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  text-align: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 0;

    .footer-container__link {
      font-family: "Italiana", serif;
      color: var(--color);
      text-decoration: none;
      letter-spacing: 5px;
      font-weight: bold;
      font-size: 30px;
      box-shadow: 0 2px 2px -2px var(--color);
      margin-bottom: 15px;
    }

    .footer-container__menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      > li {
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: var(--hover);
        }
      }

      li:not(:last-of-type):after {
        content: "|";
        margin: 0 7px;
      }
    }

    .footer-container__social-links {
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 33px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 1px black;
        margin: 0 3px;
        transition: 0.3s;
        opacity: 0.9;
        &:hover {
          opacity: 0.6;
        }
        i {
          color: var(--color);
        }
      }
    }
  }
}
